@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

html, body {
  height: 100%;
  margin: 0;
  font: 16px Sans-Serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-body {
  flex: 1 0 auto;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.page-footer {
  flex-shrink: 0;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}
* {
  box-sizing: border-box;
}

/* h1 {
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 20px 0;
} */